.sideNav {
  flex: 0 0 411px;
  margin-top: 42px;
}

.filterTimeBox {
  display: flex;
  align-items: center;
}


.filterText {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #334680;
}

.locationText {
  width: 73px;
  height: 21px;
  margin: 32px 0 14px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #b9bdcf;
}

.locationSearchBox {
  display: flex;
  /* align-items: center; */
}

.locationSearchInput {
  width: 379px;
  height: 48px;
  padding: 17px 174px 17px 45px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  border: none;
  margin-left: -47px;
  margin-bottom: 27px;
}

.locationSearchInput::placeholder {
  color: #b9bdcf;
}


.locationCountry {
  display: flex;
  align-items: center;
}



.locationSearchIcon {
  margin: 17px 16px 17px 14px;
  position: relative;
}
